extends ./layout.pug
block content
	header.header-main.ta-center
		h1.text-title MAGIC TILEGEN <span class="subtitle">by <a target="_blank" href="http://github.com/lousousa">wizard</a></span>
		p.text An automatic generator of squared tile variations. (v.0.0.2)
	div.mw-640.ta-center
		h2 Template for valid image inputs:
		p.text (Be careful, you must to follow the template structure for the generator to work correctly)
		div.mtd-row
			-
				info1 = [
					{title: "2 INTERNAL CORNERS (2 tiles):", file: "2-internal-corners.png"},
					{title: "3 INTERNAL CORNERS (3 tiles):", file: "3-internal-corners.png"},
					{title: "2 TYPE OF BORDERS, ALL SIDES (4 tiles):", file: "2-full.png"},
					{title: "3 TYPE OF BORDERS, JUST TOP (6 tiles):", file: "3-top.png"},
					{title: "3 TYPE OF BORDERS, ALL SIDES (9 tiles):", file: "3-full.png"}
				]
			each entry in info1
				div.lg-055-m.ta-right.box-padding-right
					h4= entry.title
				div.lg-045-m.ta-left(style="font-size: 0")
					img(style="box-shadow: 0 1px 2px #888" src="/public/assets/images/" + entry.file)
		h2 Generate your tileset:
		form.form-primary(method="post" enctype="multipart/form-data" action="/upload")
			div.mtd-row
				div.field.lg-020-m.ta-right
					label.label Source image:
				div.field.lg-060-m.ta-left
					input.input(type="file" name="source-image" accept=".png")
				div.field.lg-020-m
					button.btn-action(type="submit") Generate
