extends ./layout.pug
block content
	div.mw-1080.ta-center
		h1.page-title MAGIC TILEGEN
		p.text An automatic generator of squared tile variations.
		h2 Template for valid image inputs:
		p.text (Be careful, you must to follow the template structure for the generator to work correctly)
		div.mtd-row
			div.lg-050-m
				h4 3 BORDERS, ALL SIDES
			div.lg-050-m
				img(src="/public/assets/images/3-full.png")
		h2 Generate your tileset:
		form.mtd-row.form-primary(method="post" enctype="multipart/form-data" action="/upload")
			div.lg-050-m
				label.label Source image:
				input.input(type="file" name="source-image")
			div.lg-040-m
				label.label Generation type:
				select.input(name="type")
					option(value="3-full") 3 borders, all sides
					option(value="3-top") 3 borders, just top
					option(value="2-full") 2 borders, all sides
			div.lg-010-m
				button.btn-action(type="submit") Generate
