doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		// vendor
		link(rel="stylesheet" href="public/vendor/Ionicons/css/ionicons.min.css")
		link(rel="stylesheet" href="public/vendor/matadora/dist/matadora.min.css")
		script(src="public/vendor/jquery/dist/jquery.min.js")
		// app
		link(rel="stylesheet" href="public/app.css")
		script(src="public/app.js")
	body
		span= message