@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  font-family: 'Josefin Sans', sans-serif;
  color: #444;
}

a {
  color: #0084B4;
  &:hover, &:focus, &:active {
    color: #1DA1F2;
  }
}

button {
  cursor: pointer;
}

.header-main {
  background-color: #696D7D;
  padding: 16px 0;
  .text, .text-title {
    color: #fff;
  }
  .text-title {
    font-size: 40px;
    .subtitle {
      color: #fff;
      font-size: 22px;
      a { color: #fff; }
    }
  }
  .text {
    font-size: 20px;
  }
}

.text {
  font-size: 18px;
}

.box-padding-right {
  padding-right: 16px;
}

.img-generated {
  max-width: 480px;
}

.form-primary {
  .label {
    margin-right: 8px;
    font-size: 18px;
  }
  .field {
    margin: 16px 0;
  }
  .input {
    border: 1px solid #bbb;
    padding: 4px 8px;
    font-size: 18px;
    width: 100%;
  }
  input[type="file"] {
    font-size: 13px;
    padding: 7px;
  }
  .btn-action {
    padding: 8px 32px;
    border: 1px solid #666;
    background-color: #696D7D;
    font-size: 18px;
    color: #fff;
  }
}